---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			<a href="https://www.facebook.com/ajay.kushwaha.677315" target="_blank" style="text-decoration: none; color: inherit;">
				Designed by Rambachan Kushwaha
			</a>
			<Icon icon="rocket-launch" size="1.2em" />
		</p>
		<p style="margin-left: 20px;">&copy; {currentYear} Aayush Chaudhary</p>
	</div>

	<p class="socials">
		<a href="https://www.facebook.com/yushh.0" target="_blank">Facebook</a>
		<a href="https://www.instagram.com/yushh.0/" target="_blank">Instagram</a>
		<a href="https://t.me/YUSHH0" target="_blank">Telegram</a>
		<a href="https://wa.me/9779768956277" target="_blank">Whatsapp</a>
	</p>
</footer>

<style>
	/* Add your CSS styles here if you have any for the footer or social links */
	footer {
		/* Example styles */
		padding: 20px;
		text-align: center;
		background-color: #f0f0f0;
		margin-top: 20px;
	}

	.group {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap; /* Allows wrapping on smaller screens */
	}

	.socials a {
		margin: 0 10px;
		text-decoration: none;
		color: #333; /* Default link color */
	}

	/* Optional: Add hover effects */
	.socials a:hover {
		color: #007bff; /* Example hover color */
	}
</style>
